<link rel="stylesheet" href="./menu.css">
<script src="./menu.js"></script>
<nav class="navbar">
    <!-- LOGO -->
    <div class="logo">MUO</div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" onclick="ToggleMenuOrientation(this)"/>
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
      <!-- NAVIGATION MENUS -->
      <div class="menu">
        <li><a href="../index.html">Home</a></li>
        <li><a href="/">About</a></li>
        <li class="services">
          <a onclick="Dropdown()">Services</a>
          <!-- DROPDOWN MENU -->
          <ul class="dropdown">
            <li><a href="/">Dropdown 1 </a></li>
            <li><a href="/">Dropdown 2</a></li>
            <li><a href="/">Dropdown 2</a></li>
            <li><a href="/">Dropdown 3</a></li>
            <li><a href="/">Dropdown 4</a></li>
          </ul>
        </li>
        <li><a href="/">Pricing</a></li>
        <li><a href="/">Contact</a></li>        
      </div>
      <input type="search" placeholder="Search WIP" onchange="searchSite(this)"/>
    </ul>
</nav>